<div class="p-5 h-screen bg-gray-100">
  <h1 class="text-xl mb-2">Usuarios</h1>
  <table class="w-auto">
    <thead class="bg-gray-50 border-b-2 border-gray-100">
      <tr class="bg-white">
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Id</th>
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Email</th>
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Username</th>
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Nombre</th>
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Dirección</th>
        <th class="p-3 text-sm font-semibold tracking-wide text-left">Teléfono</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of usuarios; track usuarios){
        <tr class="bg-white">
          <td class="p-3 text-sm text-gray-700">{{usuario.id}}</td>
          <td class="p-3 text-sm text-gray-700">{{usuario.email}}</td>
          <td class="p-3 text-sm text-gray-700">{{usuario.username}}</td>
          <td class="p-3 text-sm text-gray-700">{{usuario.name.firstname}} {{usuario.name.lastname}}</td>
          <td class="p-3 text-sm text-gray-700">{{usuario.address.street}}, {{usuario.address.number}}, {{usuario.address.city}}, {{usuario.address.zipcode}}</td>
          <td class="p-3 text-sm text-gray-700">{{usuario.phone}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
